
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Forex</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/Analysis.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">salmabouraada28@gmail.com</a>
        <i class="fa fa-phone"></i> +212 6 53 88 56 55
      </div>
     
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">FOREX</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="/dashboard">Home</a></li>
          <li ><a href="/navbar/portfolio1">Portfolio</a></li>
          <li><a href="/navbar/miss">Missions</a></li>
          <li ><a href="/navbar/tradinghistory">Trading History</a></li>
          <li class="menu-active"><a href="/navbar/analysis">Analysis</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-content">
      <div>
        <section id="grille">

        <div  class="grid-container">
          <div class="item1">Forex (FX) is the marketplace where various national currencies are traded. The forex market is the largest, most liquid market in the world, with trillions of dollars changing hands every day. There is no centralized location, rather the forex market is an electronic network of banks, brokers, institutions, and individual traders.<br>This is your chance to compete risk free with $1 000 000 in virtual cash and to test your skills with trading challenges in order to prepare for real markets.<br>There are two primary methods used to analyze securities and make investment decisions: fundamental analysis and technical analysis.<br></div>
          <a class="item2" href="#item5">
            Fundamental Analysis
          </a>
          <a class="item3" href="#item4">
            Technical Analysis
          </a>
          <div id="item4">
            <p><h1>Technical Analysis</h1></p>
            <p>Technical analysis assumes that a security's price already reflects all publicly-available information and instead focuses on the statistical analysis of price movements. Technical analysis attempts to understand the market sentiment behind price trends by looking for patterns and trends rather than analyzing a security's fundamental attributes, following two fundamental rules.</p>
            <p><b>
              1. Markets are efficient with values representing factors that influence a security's price.</p>
              <p>
              2. Even random market price movements appear to move in identifiable patterns and trends that tend to repeat over time.</b>
            </p>
            <p>
              Today the field of technical analysis builds on Dow's work. Professional analysts typically accept three general assumptions for the discipline:</p>
            <p>
              <b>1: The market discounts everything</b><br>
Technical analysts believe that everything from a company's fundamentals to broad market factors to market psychology are already priced into the stock. This point of view is congruent with the Efficient Markets Hypothesis (EMH) which assumes a similar conclusion about prices. The only thing remaining is the analysis of price movements, which technical analysts view as the product of supply and demand for a particular stock in the market.</p>
<p><b>2: Price moves in trends</b><br>
Technical analysts expect that prices, even in random market movements, will exhibit trends regardless of the time frame being observed. In other words, a stock price is more likely to continue a past trend than move erratically. Most technical trading strategies are based on this assumption.</p>
<p>
 <b> 3: History tends to repeat itself</b><br>
Technical analysts believe that history tends to repeat itself. The repetitive nature of price movements is often attributed to market psychology, which tends to be very predictable based on emotions like fear or excitement. Technical analysis uses chart patterns to analyze these emotions and subsequent market movements to understand trends. While many forms of technical analysis have been used for more than 100 years, they are still believed to be relevant because they illustrate patterns in price movements that often repeat themselves.<br></p>
<div id="item5">
<p><h1>Fundamental Analysis</h1></p>
  <p>
  Fundamental analysis (FA) is a method of measuring a security's intrinsic value by examining related economic and financial factors. Fundamental analysts study anything that can affect the security's value, from macroeconomic factors such as the state of the economy and industry conditions to microeconomic factors like the effectiveness of the company's management.<</p><p>The end goal is to arrive at a number that an investor can compare with a security's current price in order to see whether the security is undervalued or overvalued.</p><p><b>Price-earnings (P/E) ratio:</b><br> The P/E ratio is a firm’s stock price divided by
earnings per share and is widely used by analysts and cited in the press.</p><p>
 <b>Price-sales (P/S) ratio:</b><br> The P/S ratio is a firm’s stock price divided by sales per
share.

</p><p><b>Price-book value (P/B) ratio: </b><br>The P/B ratio is a firm’s stock price divided by
book value of equity per share.</p>
<p><b> Price-cash flow (P/CF) ratio: </b><br>The P/CF ratio is a firm’s stock price divided by
cash flow per share, where cash flow may be defined as operating cash flow or
free cash flow.
</p>
          </div>
        </div>

      </section>
         <a  class="btn-get-started scrollto">Balance <br>1 000 000 $</a>
         <a  class="btn-projects scrollto">Revenue<br>94%</a>
        </div>
    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>

    </div>

  </section>
  <a href="/users/logout" class="btn btn-secondary">Logout</a>


</body>
</html>
