<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>NOREX</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body id="body" class="">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">salmabouraada28@gmail.com</a>
        <i class="fa fa-phone"></i> +212 6 53 88 56 55
      </div>
      
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 84px;"><header id="header" style="width: 708.667px;">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">FOREX</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
    </div>
  </header></div><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>BEGINNERS GUIDE TO MASTER TRADING</h2>
      <div>
        <a href="/users/register" class="btn-get-started scrollto">Find out more</a>
      
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel owl-loaded owl-drag">
      
      
      
      
      
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4252px, 0px, 0px); transition: all 0s ease 0s; width: 7796px;"><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div></div><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div></div><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div></div><div class="owl-item" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div></div><div class="owl-item" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div></div><div class="owl-item" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div></div><div class="owl-item active" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div></div><div class="owl-item" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div></div><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div></div><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div></div><div class="owl-item cloned" style="width: 708.667px;"><div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div></div></div></div>
    
  </section>
</body>
</html>